* {
  font-family: 'DM Mono', monospace;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #CAFC01;
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
  margin: 0 0 0 0;
  overflow-x: hidden;
}
.header {
  position: fixed;
  z-index: 999;
  display: flex;
  width: auto;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: -80px;
  background-color: #ffffff;
  border-radius: 15px;
}
#Logo {
  margin-left: 346px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #111C24;
  text-align: center;
}
.LeftLinks a {
  text-decoration: none;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #111C24;
  margin-left: 60px;
}
.ContactUs a{
  margin-left: 503px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #111C24;
  text-align: center;
  text-decoration: none;
}
.Hero {
  margin-top: 144px;
  width: 100%;
}
.HeroContent {
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
}
.HeroContent h1 {  
  width: 685px;
  height: 297px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 300;
  font-size: 90px;
  line-height: 110%;
  color: #111C24;
  animation: hero1 2s;
  white-space: nowrap;
}
@keyframes hero1 {
  0% {
    margin-left: 180px;
  }
  100% {

  }
}
.HeroContent p {
  position: relative;
  top: 251px;
  height: 90px;
  margin-left: 30px;
  white-space: nowrap;
}
.HeroContent img {
  top: 61px;
  position: relative;
  width: 50px;
  height: 50px;
  right: 680px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 2s;
  transition: transform 2s;
}
.HeroContent img:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.Masterprice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 100%;
  height: 137px;
  background: #CAFC01;
  z-index: 1;
}
.Masterprice h2 {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 72px;
  color: #111C24;
  z-index: 2;
  white-space: nowrap;
  animation: margin 30s ease-out 0s alternate infinite none running;
}
@keyframes margin {
  0% { 
  }
  50% {
    margin-left: 500vh;
  }
  100% {
    margin-left: 50px;
  }
}
.AboutUsImage {
  height: 600px;
}
.AboutUsImage img {
  width: 100%;
}
.AboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
  width: 100%;
  height: 137px;
  background: #111C24;
  z-index: 1;
}
.AboutUs h2 {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 72px;
  color: #ffffff;
  z-index: 2;
  white-space: nowrap;
  animation: margin2 30s ease-out 0s alternate infinite none running;
}
@keyframes margin2 {
  0% { 
  }
  50% {
    margin-left: 200vh;
  }
  100% {
    margin-left: 10px;
  }
}